.register form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.register form input {
    width: 500px;
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px
}

.register form .line {
    height: 2px;
    width: 500px;
    background-color: darkgreen;
}

.register .btn {
    background-color: darkgreen;
    color: aliceblue;
}

.register a {
    color: darkgreen;
    text-decoration: none;
}