.addWork form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: left;
}

.addWork form input,
textarea {
    width: 500px;
    outline: none;
    border: none;
    margin-top: 10px;
    padding: 10px;
    font-size: 20px
}

.addWork form .line {
    height: 2px;
    width: 500px;
    background-color: darkgreen;
}

.addWork .btn {
    background-color: darkgreen;
    color: aliceblue;
    cursor: pointer;
}

.addWork a {
    color: darkgreen;
    text-decoration: none;
}